body {
    margin: 0 auto;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
}

nav li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
}

nav li a:hover {
    background-color: #333;
    color: #fff;
}

.button {
    padding: 10px;
    background: rgb(75, 75, 75);
    color: gold;
    border-radius: 60px 10px;
    transition: ease 1s;
    border: solid gold 1px;
}

.button:hover {
    transition: ease 1s;
    transform: scale(1.1);
    border-radius: 10px;
}